*.class

*.war
*.ear
*.jar
*.iml
*.iws
*.db
*.idea
*/.settings
*/.classpath
*/.project
*.build
build/
src/main/java/org/bitbucket/eniqen/api/
src/main/java/org/bitbucket/eniqen/aspects/
src/main/java/org/bitbucket/eniqen/commons/
src/main/java/org/bitbucket/eniqen/utils/
src/main/resources/static/
src/main/resources/templates/
